<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
	<link rel="stylesheet" href="/style.css"/>
	<link rel="stylesheet" type="text/css" href="/bootstrap.min.css" >
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Add New Curve Point</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/curvePoint/validate}" th:object="${curvePoint}" method="post" class="form-horizontal" style="width: 100%">
			<!--
			TODO: Create a form to input the values of CurvePoint, there are 2 buttons: Save data and Cancel to the list CurvePoint
			 -->
			<div class="d-flex flex-column w-50 ">
				<label for="curveId">Curve Id</label>
				<input type="text" id="curveId" placeholder="Curve Id" th:field="*{curveId}">
				<span th:errors="*{curveId}"></span>
				<label for="term">Term</label>
				<input type="text" id="term" placeholder="Term" th:field="*{term}">
				<label for="value">Value</label>
				<input type="text" id="value" placeholder="Value" th:field="*{value}">
			</div>
			<div>
				<button class="bg-danger m-1 p-1" style="color: white; border: none; border-radius: 5px">Cancel
				</button>
				<button class="bg-primary m-1 p-1" style="color: white; border: none; border-radius: 5px">Add
					CurvePoint</button>
			</div>
		</form>
	</div>

</div>
</body>
</html>