<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>

	<link rel="stylesheet" href="/style.css"/>
	<link rel="stylesheet" type="text/css" href="/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div class="row">
		<h2>Update CurvePoint</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/curvePoint/update/{id}(id=${curvePoint.id})}" th:object="${curvePoint}" method="post" class="form-horizontal" style="width: 100%">
			<!--
			TODO: Create a form to edit the values of CurvePoint, there are 2 buttons: Update data and Cancel to the Curve Point
			 -->

			<div class="d-flex flex-column w-50 ">
				<label for="curveId">Curve Id</label>
				<input type="text" id="curveId" placeholder="curve Id" th:field="*{curveId}"
					   th:value="${curvePoint.getCurveId()}">
				<label for="term">Term</label>
				<input type="text" id="term" placeholder="Term" th:field="*{term}"
					   th:value="${curvePoint.getTerm()}">
				<label for="value">Value</label>
				<input type="text" id="value" placeholder="Value" th:field="*{value}"
					   th:value="${curvePoint.getValue()}">
			</div>
			<div>
				<button class="bg-danger m-1 p-1" style="color: white; border: none; border-radius: 5px">Cancel
				</button>
				<button class="bg-primary m-1 p-1" style="color: white; border: none; border-radius: 5px">Update BidList
				</button>
			</div>
		</form>
	</div>

</div>
<div class="logo-container">
	<img src="/img/logo.png" alt="Logo">
</div>
</body>
</html>