<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"

>
<head>
<meta charset="utf-8"/>
<title>Home</title>
	<link rel="stylesheet" href="/style.css"/>
	<link rel="stylesheet" type="text/css" href="/bootstrap.min.css" >
</head>
<body>
<div class="container">
	<div class="row">
		<div class="col-6">
			<a href="/bid/list">Bid List</a>&nbsp;|&nbsp;
			<a href="/curvePoint/list">Curve Points</a>&nbsp;|&nbsp;
			<a href="/rating/list">Ratings</a>&nbsp;|&nbsp;
			<a href="/trade/list">Trade</a>&nbsp;|&nbsp;
			<a href="/ruleName/list">Rule</a> |
			<a th:if="${admin}" href="/admin/home">Home</a>
		</div>
		<div class="col-6 text-right">
			<form th:action="@{/logout}" method="POST">
				<input type="submit" value="Logout"/>
			</form>
		</div>
	</div>
	<div class="row"><h2>Rating List</h2></div>
	<div class="row">
		<a href="/rating/add" class="btn btn-primary btn-sm">Add New</a>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Id</th>
					<th>MoodysRating</th>
					<th>SandPRating</th>
					<th>FitchRating</th>
					<th>Order</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
			<!-- TODO: Show all Rating to the table, the Action column will have Edit & Delete buttons -->
			<tr th:each="rating : ${ratings}" >
				<td><span th:text="${rating.id}"></span></td>
				<td><span th:text="${rating.moodysRating}"></span></td>
				<td><span th:text="${rating.sandPRating}"></span></td>
				<td><span th:text="${rating.fitchRating}"></span></td>
				<td><span th:text="${rating.orderNumber}"></span></td>

				<td><span th:data-userid="${rating.id}" onclick="updateId(this.getAttribute('data-userid'))">Edit
					</span> /
					<span th:data-userid="${rating.id}" onclick="deleteId(this.getAttribute('data-userid'))">Delete
					</span></td>
			</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>
<script>
	function updateId(id) {
		window.open("http://localhost:8080/rating/update/" + id, "_self")
		console.log("Update: " + id)
	}

	function deleteId(id) {
		console.log("Delete: " + id)
		fetch("http://localhost:8080/rating/delete/" + id)
				.then(res => window.open("http://localhost:8080/rating/list", "_self"))
	}
</script>