<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8"/>
	<title>Home</title>
	<link rel="stylesheet" href="/style.css"/>
	<link rel="stylesheet" type="text/css" href="/bootstrap.min.css" >
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Update Rating</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/rating/update/{id}(id=${ratings.getId()})}" th:object="${ratings}" method="post"
			  class="form-horizontal" style="width: 100%">
			<!--
			TODO: Create a form to edit the values of Rating, there are 2 buttons: Update data and Cancel to the Rating
			 -->
			<div class="d-flex flex-column w-50 ">
				<label for="moodyesrating">MoodysRating</label>
				<input type="text" id="moodyesrating" placeholder="MoodysRating" th:field="*{moodysRating}"
					   th:value="${ratings.getMoodysRating()}" >
				<label for="SandPRating">SandPRating</label>
				<input type="text" id="SandPRating" placeholder="SandPRating" th:field="*{sandPRating}"
					   th:value="${ratings.getSandPRating()}">
				<label for="FitchRating">FitchRating</label>
				<input type="text" id="FitchRating" placeholder="FitchRating" th:field="*{fitchRating}"
					   th:value="${ratings.getFitchRating()}">
				<label for="order">Order</label>
				<input type="text" id="order" placeholder="Order" th:field="*{orderNumber}" th:value="${ratings.getOrderNumber()}">
			</div>
			<div>
				<button class="bg-danger m-1 p-1" style="color: white; border: none; border-radius: 5px">Cancel
				</button>
				<button class="bg-primary m-1 p-1" style="color: white; border: none; border-radius: 5px">Update
					Rating</button>
			</div>
		</form>
	</div>

</div>
</body>
</html>