<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>
	<link rel="stylesheet" href="/style.css"/>
	<link rel="stylesheet" type="text/css" href="/bootstrap.min.css" >
</head>
<body>
<div class="container">

	<div class="row">
		<h2>Add New Rule</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/ruleName/validate}" th:object="${ruleName}" method="post" class="form-horizontal" style="width: 100%">
			<!--
			TODO: Create a form to input the values of RuleName, there are 2 buttons: Save data and Cancel to the list RuleName
			 -->
			<div class="d-flex flex-column w-50 ">
				<label for="name">Name</label>
				<input type="text" id="name" placeholder="Name" th:field="*{name}">
				<span th:errors="*{name}"></span>

				<label for="description">Description</label>
				<input type="text" id="description" placeholder="Description" th:field="*{description}">
				<span th:errors="*{description}"></span>

				<label for="json">Json</label>
				<input type="text" id="json" placeholder="Json" th:field="*{json}">
				<span th:errors="*{json}"></span>

				<label for="template">Template</label>
				<input type="text" id="template" placeholder="Template" th:field="*{template}">
				<span th:errors="*{template}"></span>

				<label for="sql">SQL</label>
				<input type="text" id="sql" placeholder="SQL" th:field="*{sqlStr}">
				<span th:errors="*{sqlStr}"></span>

				<label for="sqlPart">sqlPart</label>
				<input type="text" id="sqlPart" placeholder="sqlPart" th:field="*{sqlPart}">
				<span th:errors="*{sqlPart}"></span>

			</div>
			<div>
				<button type="reset" class="bg-danger m-1 p-1" style="color: white; border: none; border-radius: 5px"
				onclick={cancel()}>Cancel
				</button>
				<button class="bg-primary m-1 p-1" style="color: white; border: none; border-radius: 5px">Add BidList</button>
			</div>

		</form>
	</div>

</div>
<div class="logo-container">
	<img src="/img/logo.png" alt="Logo">
</div>
</body>
</html>
<script th:inline="javascript">
	const cancel = () => {
		window.location.href = "/ruleName/list"
	}
</script>