<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css"/>
    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css" >

    <title>Login</title>
</head>
<body>
<div class="login-container">

<h1>Login with Username and Password</h1>
<form th:action="@{/login}" method="post">
    <div class="login-form-display">
    <label for="username">Username</label>
    <input id="username" type="text" name="username" placeholder="Username">
    </div>
    <div class="login-form-display">

    <label for="password">Password:</label>
    <input id="password" type="password" name="password" placeholder="Password">
    </div>

    <input class="login-submit" type="submit" value="Login" />
</form>
</div>

</body>
</html>