<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css"/>
    <link rel="stylesheet" type="text/css" href="/bootstrap.min.css" >

    <title>Login</title>
</head>
<body>
<h1>Login with Username and Password</h1>
<form class="login-container">
  <label for="username">User</label>
  <input type="text" class="input" id="username" placeholder="Username">
  <label for="password">Password</label>
  <input type="text" class="input" id="password" placeholder="Password">
  <button class="button-send">Login</button>
</form>

</body>
</html>