<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Home</title>

	<link rel="stylesheet" href="/style.css"/>
	<link rel="stylesheet" type="text/css" href="/bootstrap.min.css" >
</head>
<body>
<div class="container d-flex flex-column align-items-center mt-5">

	<div class="row">
		<h2>Add New Bid</h2>
	</div>

	<div class="row">
		<form action="#" th:action="@{/bid/validate}" th:object="${bid}" method="post" class="form-horizontal"
			  style="width: 100%">
			<!--
			TODO: Create a form to input the values of Bid, there are 2 buttons: Save data and Cancel to the list Bid
			 -->
				<div class="d-flex flex-column w-50 ">
					<label for="account">Account</label>
					<input type="text" id="account" placeholder="Account" th:field="*{account}">
					<span th:errors="*{account}"></span>
					<label for="type">Type</label>
					<input type="text" id="type" placeholder="Type" th:field="*{type}">
					<span th:errors="*{type}"></span>
					<label for="quantity">Bid quantity</label>
					<input type="text" id="quantity" placeholder="Bid quantity" th:field="*{bidQuantity}">
				</div>
				<div>
					<button class="bg-danger m-1 p-1" style="color: white; border: none; border-radius: 5px">Cancel
					</button>
					<button class="bg-primary m-1 p-1" style="color: white; border: none; border-radius: 5px">Add BidList</button>
				</div>
		</form>
	</div>

</div>
</body>
</html>